<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".NotificationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalendarApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CalendarApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".receiver.SyncReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.waph1.markithub.SYNC" />
                <action android:name="com.waph1.markithub.EXPORT_LOGS" />
                <action android:name="com.waph1.markithub.CHECK_CONFIG" />
                <action android:name="com.waph1.markithub.STOP_SYNC" />
                <action android:name="com.waph1.markithub.SET_INTERVAL" />
                <action android:name="com.waph1.markithub.GET_INTERVAL" />
                <action android:name="com.waph1.markithub.NUKE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
